<h1> Book A Site Through Us! </h1>

<%= form_for @trip do |f|%>


<%= f.label :trip_start_date%>
<%= f.date_field :trip_start_date%>
<%= f.label :trip_end_date%>
<%= f.date_field :trip_end_date%>
<%=f.submit%>

<%end%>