<h1> Park Data Example </h1>


<h3> Campgrounds </h3>
<ul>
<% @park.get_campgrounds.each do |cg|%>
<li> <%= cg %></li>
<%end%>
</ul>
<h3> Activities at Park </h3>
<ul>
<% @park.get_thingstodo.each do |act|%>
<li> <%= act%></li>
<%end%>
</ul>

<h3> Recent or Upcoming Events </h3>
<ul>
<li><%= @park.get_events%></li>
</ul>
<h3> Important Information </h3>
<ul>
<li><%= @park.get_alerts %></li>
</ul>

<%= button_to %>