<h1> Park Data Example </h1>

<h2><%= @park_api["fullName"]%></h2>
<a href=<%= @park_api["url"]%>><%=@park_api["fullName"] %>Website</a>

<h2>Alerts</h2>
<% @park_alerts.each do |alert| %>
    <ul>
        <li><a href=<%= alert["url"]%>><%= alert["title"] %></a></li>
    </ul>
<% end %>

<h2>News Releases</h2>
<%= @park_news.each do |news| %>
    <h3><a href=<%= news["url"]%>><%= news["title"] %></a></h3>
    <p><%= news["abstract"] %></p>
    <img src=<%= news["image"]["url"]%> alt=<%= news["image"]["altText"]%>>
<% end %>
<h2>Amenities</h2>
<% @park_amenities.each do |amen| %>
    <ul>
        <li><%= amen[0]["name"] %></li>
    </ul>
<% end %>
<a href=<%= @park_api["url"] %>>See park website for more details.</a>






