<% if flash[:message] %>
  <% flash[:message].each do |m| %>
    <p> <%= m %> </p>
  <% end %>
<% end %>
<ul>
  <%= form_for @user do |f| %>
    <li> <%= f.label :name, nil, class:'mt-2 mb-2' %>
    <%= f.text_field :name, :value => flash[:name], class: "input-group width-50 mt-2 mb-2" %> </li>
    <li> <%= f.label :email, nil, class:'mt-2 mb-2'%>
    <%= f.text_field :email, :value => flash[:email], class: "input-group width-50 mt-2 mb-2" %> </li>
    <li> <%= f.label :password, nil, class:'mt-2 mb-2' %>
    <%= f.password_field :password, class: "input-group width-50 mt-2 mb-2" %> </li>
    <li> <%= f.label :password_confirmation, nil, class:'mt-2 mb-2' %>
    <%= f.password_field :password_confirmation, class: "input-group width-50 mt-2 mb-2" %> </li>
    <li> <%= f.submit class: "btn btn-primary border-white mt-4 mb-3 width-50"%> </li>
  <% end %>
</ul>