<h1>Login</h1>

<div>
  <% if flash[:message] %>
    <p> <%= flash[:message] %> </p>
    <% elsif flash[:success] %>
    <p> Thanks for creating your account, please login</p>
  <% end %>
  <ul>
    <%= form_tag '/login' do%>
      <li> <%= label_tag :username, 'Email' %> </li>
      <li> <%= text_field_tag :username, flash[:success] %> </li>
      <li> <%= label_tag :password %> </li>
      <li> <%= password_field_tag :password %> </li>
      <li> <%= submit_tag "log in"%> </li>
    <% end %>
  </ul>

</div>