<h2 class="mt-2 mb-4">Welcome to the National Park Service Searcher!</h2>
<h4 class="text-orange mt-2 mb-4">Please enter a request by park name</h4>

<% if flash[:error] %>
    <p style="color:red"><%= flash[:error] %></p>
<% end %>
<%= form_tag("/search", :method => 'get') do %>
  <%= label_tag(:fullName, "") %>
<<<<<<< HEAD
  <%= text_field_tag(:fullName) %>
  <%= submit_tag("Search") %>
<% end %>


=======
  <%= text_field_tag :fullName, nil, class:"mt-2 mb-2 input-pad" %>
  <%= submit_tag "Search", class: "btn btn-primary border-white mt-2 mb-2" %>
<% end %>
>>>>>>> 7e3339bb395c4e4c7f7d5b061d48684de37f7dde
