
<% if @current_user %>
  <h2 class="text-white mt-2 mb-4">Welcome
  <%= @current_user.name %> 
  </h2>
  <%# button_to "log out", "/logout", method: :delete, class: "btn btn-primary border-white mt-4 mb-3" %>
<% else %>
  <%# link_to 'login', login_path, class: "btn btn-primary border-white mt-4 mb-3" %>

<% end %>

<h3 class="text-white mt-2 mb-4">My Planned Trips</h3> 

<% @current_user.trips.each do |trip|%> 
  <%= trip.park.park_name %>
  <li><%= link_to "Update Your Trip Information", edit_trip_path(trip)%></li>
  <%= button_to "Cancel Your Trip", trip_path(trip), method: :delete, data: { confirm: 'Are you sure you want to cancel? Notice: You may be subject to a cancellation fee.' }%>
  <br>
<%end%>

<%=link_to "Book another Trip!", new_trip_path, class: "text-white mt-2 mb-2"%>

